/*************************
     CSS Reset
*************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #b5dad6;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**********************
    Style Started
***********************/
/*this controls the size of the header container for the image and text*/
.header-container{
    position: relative;
    width: 100%;
}
/*this container aligns the page elements and added background color*/ 
#container{
    margin: 0 155px;
    background-color: #d4edea;
} 
/*controls the size of the header image*/
.header-image{
    width:100%;
    height: auto;
    display:block;
}
/*this controls the appearence, location and color of the overlayed text*/
.header-overlay{
    position: absolute; 
    top: 70%;
    left: 50%;  
    transform: translate(-50%, -50%);
    text-align: center;
    color:#ffffff;
    width: 90%;   
}
/*this set the font and size of the header text*/
.header-overlay h1{
    font-size: 60px;
    font-family: sans-serif;
    margin: 0 0 10px 0;
}
/*this adjusted the style and alignment for the header links*/
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
/*this added the divider lines*/
.nav-links li:not(:last-child){
    border-right: 1px solid #000000;
}
/*this controls the space between the divider lines and links*/
.nav-links li{
    padding: 0 15px;
}
/*this controls the style of the link text*/
.nav-links a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 30pt;
    text-align: center;
}